/* 4.1. La primera imagen que ve el usuario es alusiva a la fundación */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.portada {
    width: 100%;
    height: 100vh;
    background: url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    display: flex;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1 {
    font-family: 'Muli';
    text-align: center;
    color: #fff;
}

.header p {
    font-family: 'Muli';
    text-align: center;
    color: #fff;
}

/* 4.2. También se mejorarán las secciones principales */
.div1 {
    width: 100%;
    height: 30vh;
    background: url(bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.header-qs {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.header-qs h2 {
    font-family: 'Muli';
    text-align: center;
    color: #9791dd;
    margin-top: 33%;
    margin-bottom: 70%;
    background-color: #fff;
    border-radius: 10px;
}

.header-qs p {
    font-family: 'Saira Extra Condensed';
    text-align: center;
    color: #9791dd;
    background-color: #fff;
    border-radius: 10px;
    display: inline;
}

.div2 {
    width: 100%;
    height: 20vh;
    background: url(bg3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.header-g {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.header-g h2 {
    font-family: 'Muli';
    text-align: center;
    color: #fff;
    margin-top: 33%;
}

/* 1.1. Se crearán unas tarjetas que contendrán las imágenes de la galería */
.tarjeta {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%; -50%);
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 1s;
}

/* 1.2. La tarjeta tendrá un frente y un reverso que mostrará el efecto 3D */
.tarjeta .frente {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: #fff;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 1s;
}
/* 3.3. Al hacer hover se crea la rotación de la tarjeta. */
.tarjeta:hover .frente {
    transform: rotateX(-180deg);
}

.tarjeta .reverso {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9791dd;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 1s;
}
/* 3.3. Al hacer hover se crea la rotación de la tarjeta. */
.tarjeta:hover .reverso {
    transform: rotateX(0deg);
}


/* 3.3. Se  crean los estilos para el menú*/
.contenido-menu {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 50px;
}
.menu-desplegable {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgb(191, 189, 189);
}
.menu-desplegable ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Muli';
}
.menu-desplegable a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

/* 3.4 Se agrega un ícono de menú y se estila */
.menu-desplegable label {
    font-family: 'Muli';
    font-size: 16px;
    display: block;
    cursor: pointer;
    background: url(assets/menu.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}
input#menu {
    display: none;
}

/* 3.5 Cuando se despliegue se permite que cierre el menú */
input:checked +label {
    background-image: url(assets/close.png);
}
/* 3.5 Efecto para desaparecer */
input:checked ~ label {
    background-image: url(assets/close.png);
}
input:checked ~ .contenido-menu {
    max-height: 100%;
}

/* 5.3. El estilo que se le aplicará a la sección que contendrá al nuevo aliado */
section {
    width: 100%;
    /* height: 300px; */
    background: #dddddd;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #aaaaaa;
}

span {
    text-align: center;
}