
/* 3.3. Se  crean los estilos para el menú*/
.contenido-menu {
    font-family: 'Oswald', sans-serif; 
    padding: 0 0 0 50px;
}
.menu-desplegable {
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgb(191, 189, 189);
}
.menu-desplegable ul {
    list-style-type: none;
    padding: 0;
}
.menu-desplegable a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

/* 3.4 Se agrega un ícono de menú y se estila */
.menu-desplegable label {
    font-family: 'Muli';
    font-size: 16px;
    display: block;
    cursor: pointer;
    background: url(assets/menu.png) no-repeat left center;
    padding: 10px 0 10px 50px;
}
input#menu {
    display: none;
}